{{- $name := promptStringOnce . "name" "Full name:" -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "Email address for git:" -}}
{{- $signingKey := promptStringOnce . "signingKey" "Signing key:" -}}

{{- if eq .chezmoi.os "linux" -}}
persistentState: "~/.local/state/chezmoi/chezmoi.boltdb"
{{- end -}}
{{- if eq .chezmoi.os "darwin" -}}
persistentState: "~/Library/Application Support/chezmoi/chezmoi.boltdb"
{{- end -}}
{{- if eq .chezmoi.os "windows" -}}
persistentState: "{{ .chezmoi.homeDir }}/AppData/Local/chezmoi/chezmoi.boltdb"
{{- end}}
data:
  gitEmail: {{ $gitEmail | quote }}
  name: {{ $name | quote }}
  signingKey: {{ $signingKey | quote }}
