<?xml version="1.0" encoding="utf-8"?>
<osmo_config>
  <general>
    <window_x>0</window_x>
    <window_y>37</window_y>
    <window_size_x>873</window_size_x>
    <window_size_y>580</window_size_y>
    <fullscreen>0</fullscreen>
    <enable_tooltips>1</enable_tooltips>
    <latest_tab>0</latest_tab>
    <tabs_position>3</tabs_position>
    <remember_latest_tab>1</remember_latest_tab>
    <save_data_after_modification>1</save_data_after_modification>
    <disable_underline_links>0</disable_underline_links>
    <toolbar_exit_button>0</toolbar_exit_button>
    <date_format>2</date_format>
    <time_format>0</time_format>
    <enable_systray>1</enable_systray>
    <start_minimised_in_systray>1</start_minimised_in_systray>
    <ignore_day_note_events>0</ignore_day_note_events>
    <run_counter>855</run_counter>
    <lastrun_date>737948</lastrun_date>
    <lastrun_time>6195</lastrun_time>
    <hide_calendar>0</hide_calendar>
    <hide_tasks>0</hide_tasks>
    <hide_contacts>0</hide_contacts>
    <hide_notes>0</hide_notes>
    <override_locale_settings>0</override_locale_settings>
    <gui_layout>1</gui_layout>
    <sound_alarm_repeat>1</sound_alarm_repeat>
    <spell_lang>fr_FR.utf8</spell_lang>
    <web_browser>firefox %s</web_browser>
    <email_client>thunderbird %s</email_client>
    <sound_player>aplay %s</sound_player>
  </general>
  <calendar>
    <fy_window_size_x>750</fy_window_size_x>
    <fy_window_size_y>550</fy_window_size_y>
    <fy_simple_view>1</fy_simple_view>
    <fy_alternative_view>1</fy_alternative_view>
    <cb_window_size_x>570</cb_window_size_x>
    <cb_window_size_y>680</cb_window_size_y>
    <ib_window_size_x>550</ib_window_size_x>
    <ib_window_size_y>650</ib_window_size_y>
    <display_options>30</display_options>
    <day_notes_visible>0</day_notes_visible>
    <timeline_start>480</timeline_start>
    <timeline_end>600</timeline_end>
    <timeline_step>60</timeline_step>
    <di_show_current_time>1</di_show_current_time>
    <di_show_current_time_seconds>1</di_show_current_time_seconds>
    <di_show_day_number>1</di_show_day_number>
    <di_show_current_day_distance>1</di_show_current_day_distance>
    <di_show_marked_days>1</di_show_marked_days>
    <di_show_week_number>1</di_show_week_number>
    <di_show_weekend_days>1</di_show_weekend_days>
    <di_show_day_category>1</di_show_day_category>
    <di_show_moon_phase>1</di_show_moon_phase>
    <di_show_notes>1</di_show_notes>
    <di_show_zodiac_sign>1</di_show_zodiac_sign>
    <cursor_type>1</cursor_type>
    <frame_cursor_thickness>2</frame_cursor_thickness>
    <enable_auxilary_calendars>1</enable_auxilary_calendars>
    <enable_day_mark>1</enable_day_mark>
    <strikethrough_past_notes>0</strikethrough_past_notes>
    <ascending_sorting_in_day_notes_browser>0</ascending_sorting_in_day_notes_browser>
    <auxilary_calendars_state>1</auxilary_calendars_state>
    <day_note_spell_checker>1</day_note_spell_checker>
    <day_note_marker>'</day_note_marker>
    <date_header_format>%e %B %Y</date_header_format>
    <event_marker_type>0</event_marker_type>
    <today_marker_type>1</today_marker_type>
    <day_notes_browser_filter>0</day_notes_browser_filter>
    <ical_export_pane_pos>180</ical_export_pane_pos>
    <background_color>#FFFFFF</background_color>
    <header_bg_color>#404048</header_bg_color>
    <header_fg_color>#DDDDDD</header_fg_color>
    <day_color>#555555</day_color>
    <pf_day_color>#CCCCCC</pf_day_color>
    <weekend_color>#880000</weekend_color>
    <selection_color>#86ABD9</selection_color>
    <mark_color>#CBE140</mark_color>
    <mark_current_day_color>#E37751</mark_current_day_color>
    <mark_current_day_alpha>32768</mark_current_day_alpha>
    <birthday_mark_color>#EDD400</birthday_mark_color>
    <selector_alpha>32768</selector_alpha>
    <day_name_font>Sans Bold 20</day_name_font>
    <calendar_font>Sans 18</calendar_font>
    <notes_font>Sans 11</notes_font>
    <cal_print_month_name_font>Sans Bold 40</cal_print_month_name_font>
    <cal_print_day_name_font>Sans Bold 10</cal_print_day_name_font>
    <cal_print_day_num_font>Sans Bold 16</cal_print_day_num_font>
    <cal_print_event_font>Sans 7</cal_print_event_font>
    <cal_print_event_length>256</cal_print_event_length>
    <cal_print_padding>4</cal_print_padding>
    <cal_print_page_orientation>0</cal_print_page_orientation>
    <cal_print_tasks>1</cal_print_tasks>
    <cal_print_birthdays>1</cal_print_birthdays>
    <cal_print_namedays>1</cal_print_namedays>
    <cal_print_day_notes>1</cal_print_day_notes>
    <cal_print_ical>1</cal_print_ical>
    <cal_print_disable_background>0</cal_print_disable_background>
  </calendar>
  <tasks>
    <high_priority_in_bold>1</high_priority_in_bold>
    <hide_completed>0</hide_completed>
    <delete_completed>0</delete_completed>
    <add_edit>0</add_edit>
    <remember_category>0</remember_category>
    <current_category>0</current_category>
    <pane_pos>430</pane_pos>
    <tasks_sorting_order>0</tasks_sorting_order>
    <tasks_sorting_column>2</tasks_sorting_column>
    <visible_due_date_column>1</visible_due_date_column>
    <visible_type_column>1</visible_type_column>
    <visible_priority_column>0</visible_priority_column>
    <visible_category_column>0</visible_category_column>
    <tasks_addedit_win_x>813</tasks_addedit_win_x>
    <tasks_addedit_win_y>248</tasks_addedit_win_y>
    <tasks_addedit_win_w>734</tasks_addedit_win_w>
    <tasks_addedit_win_h>510</tasks_addedit_win_h>
    <postpone_time>10</postpone_time>
    <column_idx_0>0</column_idx_0>
    <column_idx_0_width>50</column_idx_0_width>
    <column_idx_1>1</column_idx_1>
    <column_idx_1_width>50</column_idx_1_width>
    <column_idx_2>2</column_idx_2>
    <column_idx_2_width>100</column_idx_2_width>
    <column_idx_3>3</column_idx_3>
    <column_idx_3_width>100</column_idx_3_width>
    <column_idx_4>4</column_idx_4>
    <column_idx_4_width>100</column_idx_4_width>
    <column_idx_5>5</column_idx_5>
    <column_idx_5_width>212</column_idx_5_width>
    <due_today_color>#00981E</due_today_color>
    <due_7days_color>#0047B7</due_7days_color>
    <past_due_color>#CB362C</past_due_color>
    <task_info_font>Sans 14</task_info_font>
    <global_notification_command></global_notification_command>
  </tasks>
  <contacts>
    <find_mode>0</find_mode>
    <hide_group_column>0</hide_group_column>
    <maps_provider>2</maps_provider>
    <pane_pos>447</pane_pos>
    <photo_width>80</photo_width>
    <visible_age_column>1</visible_age_column>
    <visible_birthday_date_column>1</visible_birthday_date_column>
    <visible_zodiac_sign_column>1</visible_zodiac_sign_column>
    <contact_tag_color>#228B22</contact_tag_color>
    <contact_link_color>blue</contact_link_color>
    <contact_name_font_size>18</contact_name_font_size>
    <contact_item_font_size>11</contact_item_font_size>
    <export_format>0</export_format>
    <export_fields>+++-+------------------------------------------------</export_fields>
    <contacts_sorting_order>0</contacts_sorting_order>
    <contacts_sorting_column>0</contacts_sorting_column>
    <contacts_addedit_win_x>288</contacts_addedit_win_x>
    <contacts_addedit_win_y>63</contacts_addedit_win_y>
    <contacts_addedit_win_w>500</contacts_addedit_win_w>
    <contacts_addedit_win_h>600</contacts_addedit_win_h>
    <contacts_export_win_x>225</contacts_export_win_x>
    <contacts_export_win_y>33</contacts_export_win_y>
    <contacts_export_win_w>500</contacts_export_win_w>
    <contacts_export_win_h>400</contacts_export_win_h>
    <contacts_import_sel_win_x>60</contacts_import_sel_win_x>
    <contacts_import_sel_win_y>20</contacts_import_sel_win_y>
    <contacts_import_win_x>150</contacts_import_win_x>
    <contacts_import_win_y>20</contacts_import_win_y>
    <contacts_import_win_w>650</contacts_import_win_w>
    <contacts_import_win_h>450</contacts_import_win_h>
    <contacts_birthdays_win_w>650</contacts_birthdays_win_w>
    <contacts_birthdays_win_h>700</contacts_birthdays_win_h>
    <column_idx_0>0</column_idx_0>
    <column_idx_0_width>150</column_idx_0_width>
    <column_idx_1>1</column_idx_1>
    <column_idx_1_width>150</column_idx_1_width>
    <column_idx_2>2</column_idx_2>
    <column_idx_2_width>129</column_idx_2_width>
    <import_type>0</import_type>
    <import_interface_type>0</import_interface_type>
    <import_bluetooth_channel>1</import_bluetooth_channel>
    <import_usb_interface>0</import_usb_interface>
    <import_binary_xml>0</import_binary_xml>
    <import_bluetooth_address>00:00:00:00:00:00</import_bluetooth_address>
  </contacts>
  <notes>
    <enc_algorithm>1</enc_algorithm>
    <enc_hashing>1</enc_hashing>
    <comp_algorithm>0</comp_algorithm>
    <comp_ratio>3</comp_ratio>
    <sorting_order>0</sorting_order>
    <sorting_column>1</sorting_column>
    <visible_type_column>1</visible_type_column>
    <visible_category_column>1</visible_category_column>
    <visible_last_changes_column>1</visible_last_changes_column>
    <visible_created_column>1</visible_created_column>
    <column_idx_0>0</column_idx_0>
    <column_idx_0_width>44</column_idx_0_width>
    <column_idx_1>1</column_idx_1>
    <column_idx_1_width>113</column_idx_1_width>
    <column_idx_2>2</column_idx_2>
    <column_idx_2_width>77</column_idx_2_width>
    <column_idx_3>3</column_idx_3>
    <column_idx_3_width>165</column_idx_3_width>
    <column_idx_4>4</column_idx_4>
    <column_idx_4_width>454</column_idx_4_width>
    <remember_category>0</remember_category>
    <current_category>0</current_category>
    <use_system_date>0</use_system_date>
    <text_separator>=</text_separator>
    <editor_font>Sans 11</editor_font>
  </notes>
</osmo_config>
