# Confirm before overwriting something.
alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -i'

# Readable sizes
alias df='df -h'
alias free='free -m'

# ls
alias ls='ls --color=auto'
alias ll='ls -lahF'
alias la='ls -A'

# grep
alias grep='grep --colour=auto'
alias egrep='egrep --colour=auto'
alias fgrep='fgrep --colour=auto'

# pacman
alias paci='sudo pacman -S'                     # Install
alias pacs='sudo pacman -Ss'                    # Search
alias pacu='sudo pacman -Syu'                   # Update
alias pacr='sudo pacman -R'                     # Remove package
alias pacrr='sudo pacman -Rs'                   # Remove package and unused dependencies
alias pacrmo='sudo pacman -Rns $(pacman -Qtdq)' # Remove orphans

# yay
alias yayi='yay -S'     # Install
alias yays='yay -Ss'    # Search
alias yayu='yay -Syu'   # Update
alias yayr='yay -R'     # Remove package
alias yayrr='yay -Rs'   # Remove package and unused dependencies

# systemd
alias sc-start='sudo systemctl start'
alias sc-restart='sudo systemctl restart'
alias sc-stop='sudo systemctl stop'
alias sc-enable='sudo systemctl enable'

# Custom
alias fuzbat="cd $HOME/Blocnote; fuzbat; cd $OLDPWD"